version: 2.1

jobs:
  test:
    docker:
      - image: python:3.10
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m ensurepip --upgrade
            pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: Run unit tests
          command: |
            python -m unittest discover -s tests -p 'test_*.py'

  build_and_push:
    docker:
      - image: python:3.10
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker CLI
          command: |
            apt-get update && apt-get install -y docker.io
      - run:
          name: Build and Push Docker Image
          command: |
            version="build-$CIRCLE_BUILD_NUM"
            echo "Building Docker image with tag: $version"
            docker build -t mounikajalari/capstoneproject:$version .
            echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
            docker push mounikajalari/capstoneproject:$version

  sonarcloud_analysis:
    docker:
      - image: python:3.10
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m ensurepip --upgrade
            pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: Run tests and generate coverage
          command: |
            pytest --cov=your_module --cov-report=xml
      - run:
          name: Install Sonar Scanner
          command: |
            wget -O /tmp/sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.6.2.2472-linux.zip
            unzip /tmp/sonar-scanner.zip -d /opt
            export PATH=$PATH:/opt/sonar-scanner-4.6.2.2472-linux/bin
      - run:
          name: SonarCloud analysis
          command: |
            sonar-scanner \
              -Dsonar.organization=$SONAR_ORG_KEY \
              -Dsonar.projectKey=$SONAR_PROJECT_KEY \
              -Dsonar.sources=. \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.token=$SONAR_TOKEN \
              -Dsonar.branch.name=main \
              -Dsonar.python.version=3.8 \
              -Dsonar.python.coverage.reportPaths=coverage.xml

workflows:
  version: 2
  build_workflow:
    jobs:
      - test
      - build_and_push:
          requires:
            - test
      - sonarcloud_analysis:
          requires:
            - build_and_push
