version: 2.1

jobs:
  test:
    docker:
      - image: python:3.10
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install -r requirements.txt
      - run:
          name: Run unit tests
          command: |
            python -m unittest discover -s tests -p 'test_*.py'

  build_and_push:
    docker:
      - image: docker:20.10.12
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build and Push Docker Image
          command: |
            version="build-$CIRCLE_BUILD_NUM"
            echo "Building Docker image with tag: $version"
            docker build -t mounikajalari/capstoneproject:$version .
            echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
            docker push mounikajalari/capstoneproject:$version

  sonarcloud_analysis:
    docker:
      - image: circleci/python:3.10  # Using Python image as base
    steps:
      - checkout
      - run:
          name: Install Java 17
          command: |
            sudo apt-get update
            sudo apt-get install -y openjdk-17-jdk
            java -version  # Verify Java installation
      - run:
          name: SonarCloud analysis
          command: |
            sonar-scanner \
              -Dsonar.organization=$SONAR_ORG_KEY \
              -Dsonar.projectKey=$SONAR_PROJECT_KEY \
              -Dsonar.sources=. \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.token=$SONAR_TOKEN \
              -Dsonar.branch.name=main \
              -Dsonar.python.version=3.9 \
              -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml

workflows:
  version: 2
  build_workflow:
    jobs:
      - test
      - build_and_push:
          requires:
            - test
      - sonarcloud_analysis:
          requires:
            - build_and_push
